@model ElectroLab.Models.Course

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div class="card shadow-sm mb-4">
    <div class="card-body">

        <h2 class="card-title mb-3">@Model.Title</h2>
        <p class="card-text mb-4">@Model.Description</p>

        <hr class="my-4">

        <h3 class="card-subtitle mb-3 text-muted">@Localizer["Content"]</h3>
        <div class="card-text mb-4">@Html.Raw(Model.ContentHtml)</div>

        <hr class="my-4">



    </div>
</div>

<div class="card shadow-sm mb-4">
    <div class="card-header">
        <h4>@Localizer["Actions"]</h4>
    </div>
    <div class="card-body">
        <div class="d-flex justify-content-start">
            <a asp-action="TakeTest" asp-controller="Test" asp-route-testId="@Model.Id" class="btn btn-success mx-2">@Localizer["DoTest"]</a>
            <a asp-action="Create" asp-controller="Test" asp-route-courseId="@Model.Id" class="btn btn-success mx-2">@Localizer["Like"]</a>
            <a asp-action="Create" asp-controller="Report" asp-route-courseId="@Model.Id" class="btn btn-danger mx-2">@Localizer["ReportCourse"]</a>
        </div>
    </div>
</div>

<div class="card shadow-sm mb-4">
    <div class="card-header">
        <h4>@Localizer["OwnerActions"]</h4>
    </div>
    <div class="card-body">
        <div class="d-flex justify-content-start">
            <a asp-action="Create" asp-controller="Test" asp-route-courseId="@Model.Id" class="btn btn-success mx-2">@Localizer["AddTest"]</a>
            <a asp-action="Delete" asp-controller="Course" asp-route-courseId="@Model.Id" class="btn btn-danger mx-2">@Localizer["DeleteTest"]</a>
            <a href="#" class="btn btn-secondary mx-2">More Actions</a>
        </div>
    </div>
</div>

<div class="card shadow-sm mb-4">
    <div class="card-header">
        <h4>Admin Actions</h4>
    </div>
    <div class="card-body">
        <div class="d-flex justify-content-start">
            <a asp-action="Delete" asp-controller="Course" asp-route-courseId="@Model.Id" class="btn btn-danger mx-2">Admin Delete Course</a>
        </div>
    </div>
</div>