@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@inject IViewLocalizer Localizer

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var currentCulture = requestCulture?.RequestCulture.Culture.Name ?? "en";
}

<!DOCTYPE html>
<html lang="@currentCulture" >
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ElectroLab</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ElectroLab.styles.css" asp-append-version="true" />
    <link rel="icon" type="image/png" href="~/favicon.ico" sizes="32x32">

    <script src="https://cdn.tiny.cloud/1/k90ewopkdmrqsc4bhnzd5hlw5s5unprcxa41a7kpmo9hl6gs/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
          selector: 'textarea#tiny',
              plugins: [
                'accordion', 'advlist', 'anchor', 'autolink', 'autosave',
                'charmap', 'code', 'codesample', 'directionality',
                'fullscreen', 'help', 'image',
                'insertdatetime', 'link', 'lists', 'media', 'nonbreaking',
                'pagebreak', 'preview', 'quickbars', 'save', 'searchreplace', 'table',
                'visualblocks', 'visualchars', 'wordcount'
              ],
              toolbar: 'undo redo | accordion accordionremove | ' +
                'importword exportword exportpdf | math | ' +
                'blocks fontfamily fontsize | bold italic underline strikethrough | ' +
                'align numlist bullist | link image | table media | ' +
                'lineheight outdent indent | forecolor backcolor removeformat | ' +
                'charmap emoticons | code fullscreen preview | save print | ' +
                'pagebreak anchor codesample | ltr rtl',
              menubar: 'edit view insert format table help'
        })
    </script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/ElectroLabIconMedium.png" height="50px" width="50px"/></a>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@Localizer["ElectroLab"]</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Course" asp-action="Index">@Localizer["Courses"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Test" asp-action="Index">@Localizer["Tests"]</a>
                        </li>
                        @if (User.IsInRole("Owner") || User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Admin" asp-action="Index">@Localizer["AdminPanel"]</a>
                            </li>
                        }
                    </ul>

                    <form asp-controller="Home" asp-action="SetLanguage" method="post" class="d-flex align-items-center me-3">
                        <select name="culture" class="form-select" onchange="this.form.submit()">
                            <option value="en" selected="@(currentCulture == "en" ? "selected" : null)">
                                <img src="https://flagsapi.com/GB/shiny/64.png" alt="English" />English
                            </option>
                            <option value="bg-BG" selected="@(currentCulture == "bg-BG" ? "selected" : null)">
                                <img src="https://flagsapi.com/BG/shiny/64.png" alt="Bulgarian" />Български
                            </option>
                        </select>
                    </form>

                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - ElectroLab - Направено от Георги Георгиев и Ивайло Кирилов</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
